*body{
    margin:0;
}

.container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    background: rgb(191,222,196);
    height:100vh;
    width:100vw;
    gap:10px;
}

.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 20%;
    gap:10px;
}

.top-item{
    width: 100%;
    height:100%;
    background: rgb(209,129,121);
}

.bottom{
    display: flex;
    height: 88%;
    gap: 10px;
}

.left{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(124,133,114);
    width: 50%;
    height: 100%;
}

.left-item{
    background: rgb(255,243,85);
    width: 20%;
    height: 20%;
}

.right{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    gap:10px;
}

.right-item{
    height: 25%;
    width: 100%;
    background: rgb(137,154,94);
}

